.genericreporting td, th { 
	border: 1px solid rgba(0,0,0,0.1);
}
.genericreporting table { 
	min-width: 100%;
	border-collapse: collapse; 
}
.genericreporting td {
	padding: 0.5em 1em;
}
.genericreporting th { 
	font-weight: bold; 
	background: #C2D6E4;
	white-space: nowrap;
}
.genericreporting th a {
	padding: 1.2em 1em;
	display: inline-block;
	color: #444A50;
	cursor: pointer;
}
.genericreporting tr {
	background: white;
}
.genericreporting tr:nth-child(2n) {
	background: #F0F4F7;
}



.genericreporting {
	padding: 1em 0;
}




.view-mode.summary {
	font-size: 1.1em;
	line-height: 1.5em;
	padding: 1em 0;
}

.view-model-name {
	display: block;
	font-size: 1.1em;
	line-height: 2em;
}

view-group .condition {
	font-weight: bold;
	color: #72A1D4;
	margin: 0 0.3em;
	text-transform: lowercase;
}

view-group .group-wrapper {
	font-weight: bold;
	color: #72A1D4;
}

view-group .rule-value:before,
view-group .rule-value:after {
	content: '"';
	margin: 0 0.1em;
	color: #A29F9F;
}


.view-filters-header {
	font-weight: bold;
	text-transform: lowercase;
	color: #72A1D4;
	margin: 0 0.3em;
}

.view-mode-buttons {
	margin-top: 2em;

}



.pagination {
	margin: 0.5em 0;
	text-align: right;
}
.pagination-wrapper.top .page-info {
	display: none; 
}

/* reset */
.pagination .page-nav ol {
	display: inline-block;
}
.pagination .page-nav a {
	text-decoration: none;
}

/* same size items */
.pagination .page-nav .item,
.pagination .page-nav li {
	display: inline-block;
	padding: 0;
	width: 3em;
	height: 2.5em;
	text-align: center;
	background: none;
	border: 0;
	line-height: 2.5em;
	color: #aaa;
}
.pagination .page-nav .actionable {
	color: #4f5861; /* same as rest of page black */
	cursor: pointer;
}
.pagination .page-nav .current-page {
	background: #DCDFE0;
}
.pagination .page-nav .actionable:hover {
	background: #72A1D4;
}


.columns-set {
	background: white;
}
.column-checkbox {
	display: inline-block;
	padding: 0.3em 0.5em;
}

