.genericreporting td, th { 
	border: 1px solid rgba(0,0,0,0.1);
}
.genericreporting table { 
	min-width: 100%;
	border-collapse: collapse; 
}
.genericreporting td {
	padding: 0.5em 1em;
}
.genericreporting th { 
	font-weight: bold; 
	background: #C2D6E4;
	white-space: nowrap;
}
.genericreporting th a {
	padding: 1.2em 1em;
	display: inline-block;
	color: #444A50;
	cursor: pointer;
}
.genericreporting tr {
	background: white;
}
.genericreporting tr:nth-child(2n) {
	background: #F0F4F7;
}




.genericreporting main {
	padding: 1em 0;
}

.genericreporting h3 {
	margin: 0.5em;
}


.form.edit-mode {
	margin-top: 4em;
}
.form.edit-mode fieldset {
	padding: 1em 0.5em;
	background: white;
	border: rgba(0,0,0,1);
	box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
.form.edit-mode .fieldset-contents {
	padding: 0.3em 1.5em;
}
.page-info .edit-mode.fieldset-contents {
	padding: 1em 0.5em;
	background: white;
	border: rgba(0,0,0,1);
	box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}




.view-mode.summary {
	font-size: 1.1em;
	line-height: 1.5em;
	padding: 1em 0.5em;
}

.view-model-name {
	display: block;
	font-size: 1.1em;
	line-height: 2em;
}

.view-group .condition {
	text-transform: lowercase;
	margin-left: 1em;
}

view-group .group-wrapper {
	font-weight: bold;
	color: #72A1D4;
}


view-group .rule-operator,
view-group .condition {
	font-size: 0.9em;
	padding: 0.1em 0.4em;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 3px;
	background: #ffefc6;
	text-shadow: 0px 1px 1px white;
	box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}
view-group .condition {
	background: #ffd7c6;
}

.view-filters-header {
	display: none;
	font-weight: bold;
	text-transform: lowercase;
	color: #72A1D4;
	margin: 0 0.3em;
	display: none;
}

.view-mode-buttons {
	margin-top: 2em;
}







.pagination {
	margin: 0.5em 0;
	text-align: right;
}

/* reset */
.pagination .page-nav ol {
	display: inline-block;
}
.pagination .page-nav a {
	text-decoration: none;
}

/* same size items */
.pagination .page-nav .item,
.pagination .page-nav li {
	display: inline-block;
	padding: 0;
	width: 3em;
	height: 2.5em;
	text-align: center;
	background: none;
	border: 0;
	line-height: 2.5em;
	color: #aaa;
}
.pagination .page-nav .actionable {
	color: #4f5861; /* same as rest of page black */
	cursor: pointer;
}
.pagination .page-nav .current-page {
	background: #DCDFE0;
}
.pagination .page-nav .actionable:hover {
	background: #72A1D4;
	color: white;
}


.columns-set {
	padding: 0.5em 0;
}
.columns-set .column-checkbox {
	display: inline-block;
	padding: 0.2em 0.5em;
}
.columns-set-meta {
	padding: 0.5em 0.2em;
}
.columns-set-meta a {
	font-weight: bold;
	cursor: pointer;
	color: #4f5861; /* same as rest of page black */
	padding: 0.3em 0.5em;
	display: inline-block;
}



.page-info {
	margin: 1em 0;
}
.page-info .view-info {
	padding: 1em 0;
}
.page-info .view-info a {
	cursor: pointer;
	font-weight: bold;
}

.page-info .set-limit .other-limit-input {
	width: 4em;
}
.page-info .set-limit {
	padding: 1em;
}
.page-info .set-limit .show-label {
	font-weight: bold;
	margin-right: 0.5em;
}
.page-info .set-limit .the-word-rows {
	margin-left: 0.5em;
}
.page-info .set-limit ul {
	display: inline-block;
}
.page-info .set-limit li {
	display: inline-block;
}
.page-info .set-limit .item {
	border: 1px solid rgba(0,0,0,0.1);
	padding: 0.3em 1em;
	display: inline-block;
}
.page-info .set-limit .item.not-actionable {
	background: rgba(220, 223, 224, 0.41);
	color: #999;
}
.page-info .set-limit .item.actionable {
	cursor: pointer;
	text-decoration: none;
}
.page-info .set-limit .actionable:hover {
	background: #72A1D4;
	color: white;
}
.page-info .set-limit form {
	display: inline-block;
}
.page-info .set-limit input[type=submit] {
	margin-left: 0.5em;
}

.page-info .close-edit-mode,
.page-info .close-other-limit-form {
	float: right;
	padding: 0.3em 0.5em;
	cursor: pointer;
}



.time-taken {
	color: #666;
	font-style: italic;
}





.genericreporting.has-unsaved-changes .cms-content-actions {
	background: green;
}






.filters-builder.query-builder .rule-header {
	float: right;
}
.filters-builder.query-builder .rules-group-body {
	padding-bottom: 3em;
}
.filters-builder.query-builder .btn-group.group-actions {
	position: absolute;
	bottom: 0.5em;
	left: 2.5em;
}
.filters-builder.query-builder .rules-group-header .group-conditions input[name$=_cond] {
	display: inline-block;
}
.filters-builder.query-builder .rules-group-header .group-conditions .disabled {
	display: none;
}

.filters-builder.query-builder .rules-group-container {
	padding: 0;
	background: none;
	border: 0;
}

.filters-builder.query-builder .rule-container {
	border-radius: 0;
	border: 1px solid transparent;
	line-height: 2.2em;
}
.filters-builder.query-builder .rules-list>::before,
.filters-builder.query-builder .rules-list>::after {
	display: none;
}
.filters-builder.query-builder > .rules-group-container > .rules-group-body > .rules-list {
	padding: 0;
}

.request header {
	position: absolute;
	text-align: right;
	clear: both;
	right: 1.5em;
	top: 2em;
}
.toggle-buttons li {
	float: left;
}
.toggle-buttons a {
	padding: 0.5em 1.2em;
	background: #dbe9f3;
	text-decoration: none !important;
	color: #4f5861;
	border-radius: 4px;
	border: 1px solid rgba(0,0,0,0.1);
	text-shadow: 0 1px 1px white;
}
.toggle-buttons li:last-child a {
	border-radius: 0 4px 4px 0;
	border-left: 0;
}
.toggle-buttons li:first-child a {
	border-radius: 4px 0 0 4px;
}
.toggle-buttons a.active {
	background: #86a9c1;
	color: white;
	text-shadow: 0 1px 1px black;
}
.toggle-buttons a:not(.active):hover{ 
	cursor: pointer;
	background: #72A1D4;
	color: white;
	text-shadow: 0 1px 1px black;
}





.response {
	margin-top: 2em;
}
.view-filters {
	display:block;
	margin: 1em 0;
}
.view-filters .rule-and-condition {
	display: block;
}



