<div class="pagination">
	<div class="page-info">
		Showing rows <span ng-bind="firstRowNumber"></span> to 
		<span ng-bind="lastRowNumber"></span> of 
		<span ng-bind="response.totalNumRows"></span>
	</div>

	<div class="page-nav">
		<button ng-disabled="!hasPrevious" ng-click="goToPreviousPage()"> Previous </button>
		<ol class="pages">
			<li ng-repeat="page in smartPages">
				<span class="spacer" ng-if="page.spacer">..</span>
				<span class="current-page" ng-if="!page.spacer && page.isCurrentPage" ng-bind="page.number"></span>
				<a class="page-link" ng-if="!page.spacer && !page.isCurrentPage" ng-click="goToOffset(page.offset)" ng-bind="page.number"></a>
			</li>
		</ul>
		<button ng-disabled="!hasNext" ng-click="goToNextPage()"> Next </button>
	</div>
</div>