<main>
	<section class="request" ng-controller="Request">
		<div ng-show="mode == 'view'" class="view-mode summary">


			<span class="view-model-name">
				<span ng-if="!hasFilters">All</span>
				<span>{{dataObject.humanReadableNamePlural}}</span>
			</span>	

			<span ng-if="hasFilters">
				<span class="view-filters-header">where</span>
				<view-group filters="filters" is-root="true"></view-group>
			</span>

			<div class="view-mode-buttons">
				<button ng-click="mode = 'edit'">Edit</button>
			</div>
		</div>
		<div ng-show="mode == 'edit'" class="edit-mode form">
			<fieldset class="model">
				<h3>Model</h3>
				<div class="fieldset-contents">
					<select ng-model="dataObject" ng-options="dataObject.humanReadableName for dataObject in dataObjects"></select>
				</div>
			</fieldset>
			<fieldset class="filters">
				<h3>Filters</h3>
				<div class="fieldset-contents">
					<div class="filters-builder"></div>
				</div>
			</fieldset>
			<fieldset class="columns">
				<h3>Columns</h3>
				<div class="fieldset-contents">
					<div class="columns-set">
						<label ng-repeat="field in dataObject.fields" class="column-checkbox">
							<input type="checkbox" ng-checked="columns[field.name]" ng-click="toggleColumnSelected(field.name)" />
							<span>{{field.humanReadableName}}</span>
						</label>
					</div>
					<div class="columns-set-meta">
						<a ng-click="toggleAllColumnsSelected()">Select All</a>
						<a ng-click="selectDefaultColumns()">Select Default Columns</a>
					</div>
				</div>
			</fieldset>
			<button ng-click="mode = 'view'">Done</button>
		</div>
	</section>
	<hr/>
	<section class="response" ng-controller="Response">
		<div ng-if="response.totalNumRows > 0">
			<div class="pagination-wrapper top">
				<pagination></pagination>
			</div>
			<table>
				<thead>
					<tr>
						<th ng-repeat="field in headerColumns" ng-if="response.rows.length > 0">
							<a ng-click="sortBy(field, false)" ng-if="request.sortBy != field.name">
								{{field.humanReadableName}}
							</a>
							<a ng-click="sortBy(field, true)" ng-if="request.sortBy == field.name && request.sortDesc == 0">
								{{field.humanReadableName}}
								<span class="indicator">↑</span>
							</a>
							<a ng-click="sortBy(field, false)" ng-if="request.sortBy == field.name && request.sortDesc == 1">
								{{field.humanReadableName}}
								<span class="indicator">↓</span>
							</a>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="row in response.rows">
						<td ng-repeat="(key, value) in row">
							{{value}}
						</td>
					</tr>
				</tbody>
			</table>
			<div class="pagination-wrapper bottom">
				<pagination></pagination>
			</div>
		</div>

		<div ng-if="response.totalNumRows == 0">
			No results
		</div>	
		<div ng-if="validationError">
			No results, please check your report.
		</div>
		<div ng-if="error">
			There has been an error, please try again.
		</div>

		<div class="page-info" ng-if="!validationError && !error">
			<div class="view-mode view-info" ng-if="!pageInfoEditMode">
				Showing 
				<a ng-click="setPageInfoEditMode(true)">{{limit}}</a>
				rows 
				–
				<span ng-bind="firstRowNumber"></span> to 
				<span ng-bind="lastRowNumber"></span> of 
				<span ng-bind="response.totalNumRows"></span>
			</div>
			<div class="edit-mode fieldset-contents set-limit" ng-if="pageInfoEditMode">
				<label class="show-label">Show</label>
				<ul ng-if="!showOtherLimitForm">
					<li ng-repeat="limitObj in limitObjs">
						<span class="item not-actionable" ng-if="limit == limitObj.limit">{{limitObj.limit}}</span>
						<a class="item actionable" ng-if="limit != limitObj.limit" ng-click="setLimit(limitObj.limit);">{{limitObj.limit}}</a>
					</li>
					<li>
						<a class="item actionable" ng-click="setShowOtherLimitForm(true)">More</a>
					</li>
					<span class="the-word-rows">rows</span>
				</ul>
				<form ng-if="showOtherLimitForm" ng-submit="setLimit(otherLimit);">
					<label>
						<input type="number" ng-model="otherLimit" class="other-limit-input" />
						rows
						<input type="submit" value="Set" />
					</label>
				</form>
				<a class="close-other-limit-form" ng-if="showOtherLimitForm" ng-click="setShowOtherLimitForm(false)">back</a>
				<a class="close-edit-mode" ng-if="!showOtherLimitForm" ng-click="closePageInfoEdit()">close</a>
			</div>
		</div>

		<div class="time-taken" ng-if="response">
			Took {{response.timeTakenMs/1000}} seconds 
		</div>
		
	</section>

	<div ng-controller="Persistance">
		<!-- no layout, control external elements -->

		<a ng-click="viewSaved()">view saved</a>

		current path: <span ng-bind="$location.path()"></span>
	</div>

</main>