<div class="filter composite-filter">

	Composite Filter on ({{filterFields.length}}) #{{directiveCount}}

	<div class="join-type">
		<label>
			<input name="filter-{{directiveCount}}-join-type" type="radio" value="and" ng-model="joinType" /> AND
		</label>
		<label>
			<input name="filter-{{directiveCount}}-join-type" type="radio" value="or" ng-model="joinType" /> OR
		</label>
	</div>

	<div class="add-child-actions">
		<button ng-click="addSingleFilter()">Add Single</button>
		<button ng-click="addCompositeFilter()">Add Group</button>
	</div>

	<div class="child-filters">
		<div class="child-filter" ng-repeat="childFilter in childFilters">
			<button ng-click="deleteFilter(childFilter)">Delete</button>
			<composite-filter filter-fields="filterFields" ng-if="childFilter.type == 'composite'"></composite-filter>
			<single-filter filter-fields="filterFields" ng-if="childFilter.type == 'single'"></single-filter>
		</div>
	</div>

</div>